*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}
p,small{
    color: gray;
}
p{
    font-size: 15px;
}

.nav{
    
    border-right: 1px solid gray;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.list-item a{
    display: block;
    padding: 15px 10px;
    font-weight: 500;

   
}
.list-item i{
    margin-right: 10px;
}
main{
    margin-left: 244px;
}
.main-container{
    width: 80%;
    margin: 30px auto;
    border-bottom: 1px solid gray;
}
.header-tus a{
    display: flex;
    align-items: center;
}

.header-tus img{
    border-radius: 50%;
    margin-right: 10px;
   
}
.body-tus{
    margin: 20px 0;
}
.list-icon i{
    font-size: 26px;
    padding: 10px;
}
.container-article{
    width: 100%;
    margin-top: 30px;
}
.list-friend {
    display: flex;
    align-items: center;
}
.list-friend img{
    border-radius: 50%;
    margin-right: 10px;
}
.list-friend a{
    display: flex;
    align-items: center;
}
.button-friend{
    color: blue;
    font-size: 13px;
}
.mobile-tablet{
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    display: none;
}
.mobile-tablet .list-item{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width:1500px) {
    article{
        display: none;
    }
    
}
@media screen and (max-width:800px) {
    .left{
        display: none;
    }
    
}
@media screen and (max-width: 1023px) {
    .nav{
        display: none;
    }
    main{
        margin: -244px auto;
    }
    .mobile-tablet{
        display: block;
    }
}

